.user {
  .heading {
    padding: 10px 0 0 9px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #2a2d2e;
  }

  .sub-heading {
    padding: 0 0 10px 9px;
    font-family: Roboto;
    font-size: 13px;
    color: #2a2d2e;
  }
}

.clicked {
  background-color: #d3ecff;
  border-radius: 4px;
  cursor: pointer;

  .heading {
    padding: 10px 0 0 9px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #1e9eff;
  }

  .sub-heading {
    padding: 0 0 10px 9px;
    font-family: Roboto;
    font-size: 13px;
    color: #1e9eff;
  }
}

.user:hover,
.user:focus {
  // background-color: #d3ecff;
  border-radius: 4px;
  cursor: pointer;
  .heading,
  .sub-heading {
    color: #1e9eff;
  }
}
